{%extends "base.html" %}
{%block title %}User Login{% endblock %}
{%block head %}User Login{% endblock %}
{%block content %}
{% if form.has_errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}
{{ form.non_field_errors }}
<form method="post" action="{% url 'login' %}">
<p><label for="id_username">Username:</label>
  {{ form.username.errors }}
{{ form.username }}</p>
<p><label for="id_password">Password:</label>
{{ form.password }}</p>
<input type="submit" value="login" />
<input type="hidden" name="next" value="/" />
{% csrf_token %}
</form>
{% endblock %}
